h1{
    text-align: center;
}

#imagem2{
    width: 600;
    height: 890;
}

#imagem3{
    width: 472;
    height: 708;
}

#imagem4{
    height: 700;
}

#imagem5{
    height: 680;
}

#imagem6{
    height: 680;
}

#imagem7{
    height: 680;
    width: 400;
}
